body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    background: rgb(255, 145, 0);
    color: black;
}

h1 {
    text-align: center;
}

nav {
    display: block;
}

.list {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    display: block;
    float: left;
}

li a {
    display: block;
    color: rgb(255, 145, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(255, 145, 0);
    color: black;
}

#s {
    color: rgb(170, 175, 96);
    text-decoration: none;
    font-size: medium;
}

.s {
    float: right;
}

.center {
    text-align: center; 
    padding: 5px;
 }

.picbox {
    margin-top: 10px;
    border: black 5px;
    padding-top: 60px;
    background-color: black;
    text-align: center;
}