html, body{
    background-color: midnightblue;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 475px;
    width: 480px;
    justify-content: space-evenly;
    position: absolute;
}

#wrapper div{
    height: 150px;
    width: 150px;
    border-radius: 5%;
}

#wrapper .padA, .padC, .padF , .padG {
    background-color: #4937eb;
}

#wrapper .hihat, .kick, .snare {
    background-color: #ec3db2;
}

#wrapper .laugh-2, .laugh-1 {
    background-color: #f38123;
}

/*Buttons*/
.intButtons {
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 280px;
    font-size: 300%;
    color: white;
}

.intButtons i{
    margin: 5px;
}

.intButtons i:hover{
    opacity: 70%;
}

.intButtons i:active{
    transform: scale(1.3);
    transition: all 0.05s;
}

.inactive{
    color: white;
}

.active{
    color: red;
}
