body {
    background-image: url(./images/bg.png) ;
    height: 750px;
    margin: 0px;
}

/*Der Bereich wo alles drinnen liegt*/
.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    top: 175px;
}

/*Die Karte selber*/
.cardItself {
   display: block;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   margin: 0px;
}

/*Der Karteninhalt*/
.inhalt {
    position: absolute;
    width: 590px;
    height: 390px;
    color: white;
}

.schleife {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.inhalt h1{
    position: absolute;
    left: 70px;
    top: 50px;
}

.inhaltstext {
    height: 170px;
    font-size: 18px;
    position: absolute;
    left: 70px;
    top: 150px;
}

/*Die Schneeflocken*/
.flokki {
    left: 80px;
    animation: mymove1 6s infinite;
    position: absolute;
}

.ragnar {
    left: 270px;
    animation: mymove2 8s infinite;
    position: absolute;
}

.lagertha {
    right: 130px;
    animation: mymove3 5s infinite;
    position: absolute;
}

/*Animation*/
@keyframes mymove1 {
    from {top: 20px;}
    to {top: 300px;}
}

@keyframes mymove2 {
    from {top: 40px;}
    to {top: 300px;}
}

@keyframes mymove3 {
    from {top: 30px;}
    to {top: 300px;}
}


