body {
    background-image: url(/L04/Station1/images/bg.png) ;
    height: 750px;
    margin: 0px;
}

/*Der Bereich wo alles drinnen liegt*/
.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    top: 175px;
}

/*Die Karte selber*/
.cardItself {
   display: block;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   margin: 0px;
}

/*Kartenbereich*/
.deko {
    position: absolute;
    width: 600px;
    height: 400px;
}

.busch {
    position: absolute;
    left: -70px;
    top: -60px;
}
.pengu {
    position: absolute;
    right: -15px;
    bottom: -15px;
}

/*Der Text innerhalb der Karte*/
.inhalt {
    position: absolute;
    width: 450px;
    height: 300px;
    color: white;

}

.inhalt h1{
    margin-left: 10px;
}

.inhaltstext {
    height: 170px;
    margin: 40px 20px 10px 10px;
    font-size: 18px;
}

