body {
    background-image: url(/L04/Station4/images/bg.png) ;
    height: 750px;
    margin: 0px;
}


/*Der Bereich wo alles drinnen liegt*/
.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    top: 175px;
}

/*Die Karte selber*/
.cardItself {
   display: block;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   margin: 0px;
}

/*Schriftform*/
@font-face {
    font-family: Zanzabar;
    src: url(./fonts/zanzabar_d-webfont.woff);
}


/*Der Text innerhalb der Karte*/
.inhalt {
    position: absolute;
    width: 450px;
    height: 300px;
    color: rgba(252, 227, 86, 0.925);
    font-family: Zanzabar;
}

.inhalt h1{
    margin-left: 10px;
    font-size: 36px;
}

.inhaltstext {
    height: 170px;
    margin: 24px 20px 10px 25px;
    font-size: 30px;
    
}


