body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    background: rgb(255, 145, 0);
    color: black;
}

.Stationen {
    position: relative;
    top: 200px;
    background-color: black;
    color:rgb(255, 145, 0);
    height: 100px;
    text-align: center;
    padding: 15px;
}

.Stationen h1 {
    margin: 15px;
}
