body{
    margin: 0 auto;
    max-width: 800px;
}
.Halbkreis{
    background-color: rgb(202, 66, 42);
    color: white;
    width: 800px;
    height: 400px;
    text-align: center;
    border-bottom-left-radius: 400px; 
    border-bottom-right-radius: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

.Halbkreis h1 {
    font-size: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: -20px
    ;
}

.Halbkreis h2{
    margin: -40px 0px 0px 0px;
    font-size: 50px;
}

#subtitle {
    right: 0px;
    text-align: left;
    margin-left: 400px;
}

.Halbkreis p{
    margin: 0px 0px 10px 0px;
    float: left;
    font-size: 12px;
    width: 250px;
    height: 85px;
}

.Halbkreis nav{
    margin: 0px 0px 10px 0px;
    float: left;
}

.nav-bar  {
    position: fixed;
    top: 0;
    right: 20%;
    background-color: black;
}

.nav-bar-list{
    margin: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

.nav-bar-list a{
   text-decoration: none;
   color: white;
}

li {
    display: inline;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    margin: 0px;
    padding: 3px;
    background-color: black;
}

.nav-bar-list li a:hover{
    color: red;
}

.icon {
    opacity: 50%;
}

.icon:hover {
    opacity: 100%;
}

h3 {
    margin-top: 100px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 30px;
    color: rgb(202, 66, 42);
    letter-spacing: -2px;
}

.kontaktformular label{
    display: block;
    position: absolute;
    color: white;
    font-size: 16px;
    }
    
    .kontaktformular div{
    position: relative;
    padding: 0 8px;
    margin: 1rem;
    
    }
    
    .kontaktformular input[type="text"],
    .kontaktformular input[type="email"],
    .kontaktformular textarea{
    border: none;
    background-color: #808080;
    padding: 16px 0 10px;
    font-size: 16px;
    
    }
    
    .button{
    font-size: 12px;
    font-family: inherit;
    border: 0px;
    color: white;
    background-color: #808080;
    cursor: pointer;
    }