body{
    margin: 0 auto;
    max-width: 800px;
}
.Halbkreis{
    background-color: rgb(202, 66, 42);
    color: white;
    width: 800px;
    height: 400px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    border-bottom-left-radius: 400px; 
    border-bottom-right-radius: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

.Halbkreis h1 {
    font-size: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: -20px
    ;
}

.Halbkreis h2{
    margin: -40px 0px 0px 0px;
    font-size: 50px;
}

#subtitle {
    right: 0px;
    text-align: left;
    padding-left: 50%;
}

.Halbkreis p{
    margin: 0px 0px 10px 0px;
    float: left;
    font-size: 12px;
    width: 250px;
    height: 85px;
}

.nav-bar  {
    position: fixed;
    top: 0;
    right: 20%;
    background-color: black;
}

.nav-bar-list{
    margin: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

li {
    display: inline;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    margin: 0px;
    padding: 3px;
    background-color: black;
}


